* {
    box-sizing: border-box;
}

:root {
    --side-padding: 1em;
    --top-bottom-padding: 1em;
    --menu-color: #454545;
    --border-color-one: #808080;
    --font-color-dark: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    color: #eee;
}

/* For google icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: rgb(163, 195, 255);
    text-shadow: 0 0 5px rgb(163, 195, 255);
}

.page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.header, .content, .footer {
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--top-bottom-padding) var(--side-padding);
}

.header {
    /* border: 2px solid red; */
    flex-flow: row wrap;
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: black;
    padding-right: 6em;
}

.content {
    /* border: 2px solid orange; */
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
}

.footer {
    /* border: 2px solid green; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.outer-el {
    /* border: 1px solid blue; */
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-el {
    /* border: 1px solid red; */
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.small-section {
    border: 1px solid gray;
    margin: 0 auto 0 auto;
    width: 50%;
    padding: var(--top-bottom-padding) var(--side-padding);
    display: flex;
}

.section-title {
    border: 1px solid gray;
    padding: 2px 5px;
    position: relative;
    top: -28px;
    background-color: gray;
}

.song-section {
    /* width: 100%; */
    font-size: 22px;
    margin-bottom: 6em;
    /* border: 2px solid blue; */
}

.song-header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2em;
}

.song-title {
    font-size: 2em;
    font-weight: bold;
}

.song-sub-title {
    font-weight: bold;
}

.song-part {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1em;
    font-size: 22px;
}

.chorus {
    margin-left: 2em;
}

.song-part-title {
    font-weight: bold;
    text-transform: uppercase;
}

.song-part-content {
    margin-left: 1em;
}

.content-section {
    width: 100%;
    /* border: 2px solid purple; */
}

.page-title {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5em;
}

.click-list-section {
    display: flex;
    flex-flow: column wrap;
}

.click-list-item {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    background-color: rgb(75, 75, 75);
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}

.option-item-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 2em;
}

.click-list-inner-title {
    min-width: 300px;
    font-size: 24px;
}

.click-list-inner-sub-title {
    font-size: 20px;
}

.to-right {
    margin-left: auto;
    margin-right: 0;
}

.menu {
    display: none;
    flex-flow: column nowrap;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: .5em 1em;
    background-color: var(--menu-color);
    border: 2px solid var(--border-color-one);
    color: var(--font-color-dark);
    font-weight: bold;
    font-size: 20px;
}

.menu-item {
    margin: .5em 0;
}

.menu-toggle {
    cursor: pointer;
    font-size: 32px;
}

#menu-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

.menu-toggle:active ~ .menu,
.menu-toggle:hover ~ .menu {
    display: flex;
}

.menu:hover {
    display: flex;
}

.settings {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}














@media screen and (max-width: 700px) {
    .click-list-item {
        flex-flow: column nowrap;
        background-color: rgb(75, 75, 75);
        padding: 5px 10px;
        margin-top: 10px;
    }

    .click-list-inner-sub-title {
        font-size: 14px;
    }

    .outer-el {
        min-width: 80px;
        font-size: 14px;
    }

    .click-list-inner-title {
        min-width: 200px;
        font-size: 18px;
    }
}